<div id="getting-started">
  
         <div class="container-fluid">

        <div class="loginContainer">
        <div style="margin-top: 20px;">   
        <%= display_flash_messages %></div>     
  <ol style="margin-top: 30px; margin-bottom: 30px;">
   <% if !logged_in? %>
     <li>
       <h2><%= link_to "Login to this cloud.", :controller => :users, :action => :login %></h2>
     </li>
   <% end %>

   <li>
     <h2><%= link_to "Create an account.", :controller => :users, :action => :new %></h2>
   </li>            

   <% if logged_in? %>
     <li>
       <h2><%= link_to "Logout now.", :controller => :users, :action => :logout %></h2>
     </li>
   <% end %>

   <li>
     <h2><%= link_to "View cloud status.", :controller => :status, :action => :cloud %></h2>
   </li>

   <% if is_user_cloud_admin %>
     <li>
       <h2><%= link_to "Machine Monitoring.", monitoring_url %></h2>
     </li>
     <li>
       <h2><%= link_to "Manage users.", :controller => :authorize, :action => :cloud %></h2>
     </li>
   <% end %>

  </ol>
</div>
</div>
</div>