           <div class="container-fluid">

        <div id="header">

            <div class="row-fluid">

                <div class="navbar">
                    <div class="navbar-inner">
                      <div class="container">
                            <a class="brand" href="#">AppScale <span class="slogan">Cloud Administration</span></a>
                      </div>
                    </div><!-- /navbar-inner -->
                  </div><!-- /navbar -->
                

            </div><!-- End .row-fluid -->

        </div><!-- End #header -->

    </div><!-- End .container-fluid --> 


       <div class="container-fluid">

        <div class="loginContainer">
            <span class="form-horizontal"id="loginForm" >
                <div class="form-row row-fluid">
                  <div style="margin-top: 15px;">
                  <%= content_tag :h3, display_flash_messages %></div>
                    <% form_for :user, @user, :url => { :action => :authenticate } do |f| %>
    <p class="form-label span12">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email, :size => 40 %>
      <%= display_error_messages(@user, :email) %>
    </p>
    <p class="form-label span12">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password, :size => 40 %>
      <%= display_error_messages(@user, :password) %>
    </p>
    <div style="margin: 5px 0 0 9px;" class="pull-left">
      <%= submit_tag "Login", { :class => "btn btn-primary",} %>
    </div>
  <% end %>
     <br />&nbsp;<br /> <div style="margin: 20px 0 6px 9px;">Don't have an account? <%= link_to "Create one.", :controller => :users, :action => :new %>
     <br /> View the current <%= link_to "Cloud Status.", :controller => :status, :action => :cloud %>&nbsp;<br /></div>                       
                  
                </div>

            </span>
        </div>

    </div><!-- End .container-fluid -->

  